#external-container {
  background-color: black;
}

#external-heading {
  color: yellow;
  background-color: rgb(55, 13, 13);
  margin: 10px;
}

#external-para {
  color: greenyellow;
  background-color: green;
  margin: 10px;
}
